/* https: //web.dev/articles/font-best-practices#be-cautious-when-using-preload-to-load-fonts */

@font-face {
  font-family: 'GBWide';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url('fonts/AmfibiaExpandedDemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'GBWide';
  font-style: italic;
  font-display: auto;
  font-weight: 700;
  src: url('fonts/AmfibiaExpandedDemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'GBWide';
  font-style: normal;
  font-display: auto;
  font-weight: 800;
  src: url('fonts/AmfibiaExpandedBold.woff2') format('woff2');
}

@font-face {
  font-family: 'GBWide';
  font-style: italic;
  font-display: auto;
  font-weight: 800;
  src: url('fonts/AmfibiaExpandedBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'GBWide';
  font-style: normal;
  font-display: auto;
  font-weight: 900;
  src: url('fonts/AmfibiaExpandedExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'GBWide';
  font-style: italic;
  font-display: auto;
  font-weight: 900;
  src: url('fonts/AmfibiaExpandedExtraBoldItalic.woff2') format('woff2');
}